doctype html
// - basic tag example
html(lang="en")
  // head
  head
    title="hello there"

  // body
  body
    header
      h1 hello
    nav: ul
      li: a
      li: a
      li: a

    // main
    main
      article
        header
          h1
        div
        footer
    aside
      p aside text on the side (which)
    footer
      p.hey_class#id_name.another_class.yet_more_class
        | footer text here
        | 
  

