doctype html5

// - basic tag example

html(lang="en")

  head
    title= title

  body
    h1 color testing : #{title}

    p available colors:

    table 
      thead: tr
        th number
        th render
      tbody 
        - each color in colors
          tr 
            td= color
            td  

